<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head-resources}"></head>
<body>
<div th:replace="~{base :: layout(~{::content})}">
    <div th:fragment="content">

        <h2 class="my-4" th:text="${section.id == null} ? '➕ Thêm Section' : '✏️ Sửa Section'"></h2>

        <form th:object="${section}"
              th:action="${section.id == null}? @{/admin/courses/sections/add} : @{/admin/courses/sections/{id}/edit(id=${section.id})}"
              method="post">

            <div class="mb-3">
                <label class="form-label">Tiêu đề</label>
                <input type="text" th:field="*{title}" class="form-control"/>
                <div class="text-danger" th:errors="*{title}"></div>
            </div>

            <div class="mb-3">
                <label class="form-label">Thứ tự</label>
                <input type="number" th:field="*{orderIndex}" class="form-control"/>
                <div class="text-danger" th:errors="*{orderIndex}"></div>
            </div>

            <button type="submit" class="btn btn-success">Lưu</button>
            <a th:href="@{/admin/courses}" class="btn btn-secondary">Hủy</a>
        </form>

    </div>
</div>
</body>
</html>
