<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base :: head-resources"></head>
<body>
<div th:replace="layouts/base :: content">
    <h2>Chi tiết Giao dịch</h2>
    <p><b>ID:</b> <span th:text="${payment.id}"></span></p>
    <p><b>Học viên:</b> <span th:text="${payment.student.email}"></span></p>
    <p><b>Khoá học:</b> <span th:text="${payment.course.title}"></span></p>
    <p><b>Số tiền:</b> <span th:text="${payment.amount}"></span></p>
    <p><b>Phương thức:</b> <span th:text="${payment.method}"></span></p>
    <p><b>Trạng thái:</b> <span th:text="${payment.status}"></span></p>
</div>
</body>
</html>
