<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base :: head-resources"></head>
<body>
<div th:replace="layouts/base :: content">
    <h2 th:text="${course.id != null} ? 'Chỉnh sửa Khoá học' : 'Thêm Khoá học'"></h2>
    <form th:action="@{/admin/courses/save}" th:object="${course}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label>Tên khoá học</label>
            <input type="text" class="form-control" th:field="*{title}">
        </div>
        <div class="mb-3">
            <label>Mô tả</label>
            <textarea class="form-control" th:field="*{description}"></textarea>
        </div>
        <div class="mb-3">
            <label>Học phí</label>
            <input type="number" class="form-control" th:field="*{price}">
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
</div>
</body>
</html>
